//$black: #000000;
$black: #000000;
$white: #ffffff;

$bg_blue_0: #0C0D1A;
$bg_blue_1: #0E1020;
$bg_blue_2: #121529;
$bg_blue_3: #191D37;
$bg_blue_32: #1F2343;
$bg_blue_4: #131A48;
$bg_blue_5: #4F7BFF;
$bg_blue_6: #292E58;
$bg_blue_7: #1E2347;
$bg_blue_8: #505CAE;

$chat_bg: #1E2347;
$chat_line: #3B4382;
$chat_text: #959EE1;
$chat_1: #8D96D6;

$yellow: #FABD00;

$blue: #4F7BFF;
$blue_2: #3B427B;
$green: #00CD5C;
$green-dark: #007B37;
$red: #FF4F4F;
$red-dark: #C90000;

$grey_1: #B0B0B0;
$grey_2: #9F9F9F;
$grey-3: #B1B1B1;

$rang_0: #F3C0AF;
$rang_1: #F6DED5;
$rang_2: #F8EEC6;
$rang_3: #9DE4BA;
$rang_4: #68CF83;


$grey-4: #888888;

$mainFontSize: 16px;

$mainFont: "Exo 2", 'Helvetica Neue', sans-serif;
$extraFont: "Exo 2", 'Helvetica Neue', sans-serif;

